* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2.3vw;
  padding: 0px 14px;
  background-color: #242c3493;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  margin: 16px 10px 15px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p:active {
  padding-bottom: 7px;
}

.black:hover {
  background-color: black;
  color: white;
}

.white:hover {
  background-color: white;
  color: black;
}

.red:hover {
  background-color: red;
}

.blue:hover {
  background-color: blue;
}

.yellow:hover {
  background-color: yellow;
}

.gray:hover {
  background-color: gray;
}

.brown:hover {
  background-color: brown;
}

.coral:hover {
  background-color: coral;
}

.green:hover {
  background-color: green;
}

.yellow:hover {
  background-color: yellow;
}

.parent {
  height: 100vh;
  display: flex;
}

.colorheader {
  font-size: 5vh;
  padding: 0 0 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.colorlist {
  overflow: auto;
  width: 300px;
  height: 100vh - 20px;
  right: 10px;
  bottom: 10px;
  padding: 7px 20px;
  background-color: white;
  border: 5px solid white;
}

#screen {
  width: 255%;
  height: 100vh - 20px;
  background-color: White;
  border-radius: 10px;
  border: 5px solid black;
}

/* popur menu */
#show {
  background-color: gray;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  /* cursor: pointer; */
  /* outline: 3px solid green; */
  position: absolute;
  margin: 25px;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#show:hover {
  color: white;
  background-color: green;
}

.navigation {
  border-radius: 0 10px 10px 0;
  position: fixed;
  width: 10%;
  height: 100%;
  /* visibility: hidden; */
  z-index: 99;
  transition-delay: 300ms;
}
.navigation.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.navigation.active .navigation__inner {
  background-color: #7c7fe0;
  border: 5px solid black;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms,
    -webkit-transform 300ms linear;
}
.navigation.active .navigation__inner:after {
  width: 300%;
  border-radius: 90%;
  -webkit-animation: elastic 150ms ease 300.5ms both;
  animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  border: 5px solid black;
  border-radius: 0 10px 10px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms,
    -webkit-transform 300ms linear;
}

.navigation__inner:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #7c7fe0;
  border-radius: 50%;
  z-index: -1;
  transition: all 300ms linear;
}

@-webkit-keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}
