* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#num_1,
#num_2,
#option {
  border-radius: 5px;
}

div {
  padding: 20px;
  background-color: blueviolet;
  width: 500px;
}
