* {
    padding:0;
    margin: 0;
    outline-color: yellow;
}
article > div {
    margin-top: 10px;
    margin-bottom: 10px; 
}
#left {
    margin-top: 10px;
    margin-left: 10px;
     height: 100px;
     width: 50%;
     background-color: green;
     float: left;
     margin-right: 20px;
     padding: 5px;
     color: white;
     border: 3px dotted rgb(21, 145, 161);
     font-family: 'Times New Roman', Times, serif;
     display:inline
     max-width:150px;
     opacity: 0.5;
text-align:center;
}
#right {
    height: 100px;
    width: 30%;
    background-color: green;
    float: left;
    margin-right: 20px;
    padding: 5px;
    color: white;
    border: 3px dotted rgb(21, 145, 161);
    font-family: 'Times New Roman', Times, serif;
    display:inline
    max-width:150px;
    opacity: 0.5;
text-align:center;
}

b,p,a {
    margin-right: 20px;
    padding: 10px;  
}
input {
    margin-left: 10px; 
}
ul > li {
display: none ;
visibility: hidden;
}